<h1>Welcome to CountryBook!</h1>
<hr>
<p>
	CountryBook is a small web app that concentrates on gathering scattered information about the countries 
	of the world and organizing it, so you don't have to Google for everything. Instead, you can just come over
	to CountryBook and get all the information you need, about the country you need.
</p>
<p>
	CountryBook is a free and open source web application, developed with MEAN stack. Its JavaScript, all the 
	way down. The source code has been uploaded to Github. If you have any suggestions, please feel free to contact
	me. Would love to hear from you. 
	</p>
<!--<div class="jumbotron">
	
	<div class="row">
		<div class="col-sm-6 text-center">
			<h1>
				<a href="/countries/all">
					Countries
				</a>
			</h1>
		</div>
		<div class="col-sm-6 text-center">
			<h1>
				<a href="/regions">
					Regions
				</a>
			</h1>
		</div>
	</div>

</div>

<ul class="list-inline countries-list">
	<li ng-repeat="country in countries">
		<a class="btn btn-primary btn-lg" href="#/countries/{{ country.name }}">{{ country.name }}</a>
	</li>
</ul>-->